<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <style>
        .header {
            background-color: #ddd;
        }
    </style>
</head>


<body>
    <div class="header">
        <h1>My site</h1>
    </div>
    <div class="menu">
        <ul>
            <li>link1</li>
            <li>link2</li>
            <li>link3</li>
            <li>link4</li>
        </ul>
    </div>
    <div class="content">
        {% block content1 %}
        {% endblock %}
    </div>
</body>


</html>